.card {
    padding: 0 !important;
    padding-bottom: 10px !important;
}

.container {
    padding: 0px !important;
    margin: 0px !important;
}

.board {
    padding: 10px;
    border: 1px solid black;
    background: red;
    height: 200px;
    width: 200px;
}

.white_pice {
    color: white;
}

.black_pice {
    color: black;
}

.king_pice {
    color: green;
}

.white {
    background: white !important;
    color: red;
    height: 25px;
    width: 25px;
}

.black {
    background: gray !important;
    color: blue;
    height: 25px;
    width: 25px;
}

.tile {
    float: left;
    height: 25px;
    width: 25px;
}

.rowz {
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
}

.columnz {
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
}

.label {
    padding-left: 15px;
}

.title {
    padding-top: 10px;
}

.button-reset {
    margin: 5px;
}