.red {
    //background-color: red;
    padding: 0;
    margin: 15px;
}

.title {
    color: white;
    font-style: bold;
    border-bottom: 1px solid darkgreen;
}

.header {
    background: black;
}

.pice {
    margin-left: 10px;
    margin-right: 10px;
    color: darkgreen;
}