<header class='header'>
  <mat-toolbar class='title' color="primary">
      <img  src="../assets/seouali_logo.png" width="80" height="60">
      SEOUL AI GYM HACKATON - CHECKERS ARENA
      <mat-icon class='pice'>trip_origin</mat-icon>
  </mat-toolbar>
</header>
  <div class="row board-row kk">
    <div class="col red">
      <scoreboard-checkers-board [boardId]='0'></scoreboard-checkers-board>
    </div>
    <div class="col red">
      <scoreboard-checkers-board [boardId]='1'></scoreboard-checkers-board>
    </div>
    <div class="col red">
      <scoreboard-checkers-board [boardId]='2'></scoreboard-checkers-board>
    </div>
    <div class="col red">
      <scoreboard-checkers-board [boardId]='3'></scoreboard-checkers-board>
    </div>
    <div class="col red">
      <scoreboard-checkers-board [boardId]='4'></scoreboard-checkers-board>
    </div>
  </div>
  <div class="row board-row kk">
      <div class="col red">
        <scoreboard-checkers-board [boardId]='5'></scoreboard-checkers-board>
      </div>
      <div class="col red">
        <scoreboard-checkers-board [boardId]='6'></scoreboard-checkers-board>
      </div>
      <div class="col red">
        <scoreboard-checkers-board [boardId]='7'></scoreboard-checkers-board>
      </div>
      <div class="col red">
        <scoreboard-checkers-board [boardId]='8'></scoreboard-checkers-board>
      </div>
      <div class="col red">
        <scoreboard-checkers-board [boardId]='9'></scoreboard-checkers-board>
      </div>
   </div>
<footer></footer>

